#header {
    display: flex;
    flex-direction: column;
    background-color: #1D234D;
}

#navigation-bar, 
#controle-horizontal {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 8vh;
}

/* #navigation-bar: Conteudo da Barra de Pesquisa */
#navigation-bar{
    background-color: #1d2141;
}

.nav-bar {
    display: flex;
    align-items: center;
    width: 28vw;
    margin-right: 18vw;
    list-style: none;
}

.web-logo{
    position: relative;
    top: 4vh;
    width: 7vw;
    height: 14vh;
    border-radius: 50%;
    object-fit: cover;
}

.menu-icon{
    width: 32vw;
    font-size: 3vh;
    font-family: 'Syne', Helvetica;

    background-image: linear-gradient(to bottom, 
                        rgba(252,127,69,1),  
                        rgba(253,74,29,1), 
                        rgba(68,58,180,1));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* #controle-horizontal: Conteudo do Controle Geral da Calculadora*/
.controle-itens {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 72%;
    height: 8vh;
}

.controle-itens li {
    display: flex;
    align-items: center;
}

.controle-itens ul li {
    height: 8vh;
    width: 8vw;
    background: none;
    border: none;
}

/* Controle Geral */ 
a {
    text-decoration: none;
    color: #fff;
}