*{
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: 'Syne', sans-serif;
}

.hidden{
    display: none;
}

/* #btn-call-registro: Raiz do Backend - onde o acesso de banco de dados ocorre*/
#btn-call-registro {
    position: absolute;
    top: 1.5vh;
    left: 85vw;
    height: 5vh;
    width: 14vw;
}

#btn-call-registro button {
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 20vh;
    background: linear-gradient(to right,
            rgb(255, 0, 0),
            rgb(168, 44, 12),
            rgba(17, 7, 131, 0.797));
    cursor: pointer;
    color: #fff;
    font-size: 88%;
}

#btn-call-registro a {
    font-weight: bold;
    font-size: 3.3vh;
    background-image: linear-gradient(to bottom, 
                        rgba(252,127,69,1),  
                        rgba(253,74,29,1), 
                        rgba(68,58,180,1));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* #login-page: Dimensões da Pagina de Login & Cadastro */
#login-page {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.img-fundo {
    position: absolute;
    height: 80vh;
    width: 30vw;
    top: 10vh;
    left: 5vw;
}

.img-fundo h1{
    position: absolute; /* need responsivity */
    width: 72%;
    top: 16%;
    left: 8%;

    font-size: 5vh;
    font-family: 'Syne', Helvetica;
    font-weight: bold;

    color: #fff;
    word-wrap: break-word;
    text-transform: uppercase;
    mix-blend-mode: overlay;

    backdrop-filter: blur(0.2vh) brightness(100%);
}

.img-fundo img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 5% 0% 0% 5%;
}

/* Seção de Cadastro do Site */
.cadastro-registro {
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;

    height: 80vh;
    width: 65vw;
    top: 10vh;
    left: 30vw;
    z-index: 1;
    
    background-color: #fff;
    border-radius: 5%;
}

.controle-registro, 
.controle-login{
    display: flex;
    justify-content: space-evenly;
    width: 24vw;
}

/* Seção de Login do Site */
#cadastro-login {
    position: absolute;

    height: 78vh;
    width: 65vw;
    top: 10vh;
    left: 30vw;
    z-index: 2;
    
    background-color: #fff;
    border-radius: 5%;
}

.cadastro-login-conteudo{
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;

    height: 82.5vh;
}

/* Trocar de Pagina entre Login & Cadastro */
.switch {
    position: absolute;
    z-index: 3;
    top: 80vh;
    left: 72vw;
}

.switch-case.show {
    position: absolute;
    top: 0;
    left: 0;
    width: 6vw;
    z-index: 9999;
}

/* Fechar a Pagina de Login */
.login-close {
    position: absolute;
    height: 5vh;
    width: 5vh;
    top: 4%;
    left: 94%;
    border-radius: 100%;
}

#login-page .login-close button {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 100%;
    border: none;
    cursor: pointer;
}

/* Seção de Cadastro do Site */
#user-page {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.dados-usuario{
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;

    height: 80vh;
    width: 65vw;
    top: 10vh;
    left: 30vw;
    z-index: 1;
    
    background-color: #fff;
    border-radius: 5%;
}

.controle-dados-usuario{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;

    width: 25vw;
}

/* Propriedades Gerais de Elementos */
a, button, input{
    transition: all 1s ease-in-out;
}

a:hover{
    transform: scale(1.1, 1.0);
    opacity: 0.7;
}

button:hover{
    cursor: pointer;
    transition: all .2s ease-in-out; 
    transform: scale(1.05, 1.05);
    background-position: right center; 
}

button {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 20vh;
    cursor: pointer;
    font-size: 88%;     
}

#login-page button{
    height: 4vh;
    width: 10vw;
}

input {
    width: 24vw;
    height: 6vh;
    padding: 2vh;
    border-radius: 1vw;
    border: 0.1vh solid black;
    color: black;
}

/* Para desenvolvedores */
#btn-call-usuarios {
    position: absolute;
    top: 10vh;
    left: 86vw;
    width: 12vw;
    height: 4vh;
}
